<div class="container-fluid">
    <app-menu></app-menu>
</div>


<section>
    <div class="content">
        <div class="imgBox">
            <img margin-rigth="25px" src="https://i.imgur.com/qun1j2M.png" width="350" height="350" class="imagem">
        </div>
        <div class="textBox mr-5">
            <h2>Todos os serviços que você procura em um só lugar<br>Esse é o <span>NO CORRE</span>
            </h2>
            <br>
            <p>Facilitar a conexão de autônomos com possíveis clientes, com negociações sem intermediário.</p>

        </div>

    </div>
</section>

<section>
    <div class="content">
        <div class="textBox ml-5">
            <h2>Negocie diretamente com o prestador de serviços</h2>
            <br>
            <p>Aqui você terá a flexibilidade de negociar o serviço diretamente com o prestador, sem nenhum
                intermediário.</p>

        </div>
        <div class="imgBox">
            <img src="https://i.imgur.com/3t4AgbU.png" width="350" height="350" class="imagem1">
        </div>
    </div>
</section>

<div class="container-fluid">
    <app-rodape></app-rodape>
</div>