<hr>

<footer class="page-footer font-smallpt-4">

    <!--Rodapé-->
    <div class="container">

        <div class="row">
            <!--TituloNoCorre-->
            <div class="col-md-4 justify-content-center">
                <img src="https://i.imgur.com/FXfD9VE.png" title="source: imgur.com" width="202px" height="50px" />
                <p class="text text-justify">Um sistema criado com a finalidade de mapear e difundir informações sobre a
                    oferta e a busca de serviços nas regiões periféricas da Grande São Paulo. Ao dar visibilidade aos
                    microempreendedores da periferia, busca-se colaborar com o desenvolvimento da economia colaborativa
                    e local das regiões afastadas do centro expandido.</p>
            </div>
            <!--/TituloNoCorre-->

            <!--TituloRedesSociais-->
            <div class="col-md-2 justify-content-center">
                <h5 class="colorFont">Saiba Mais</h5>

                <p>
                    <a class=" colorFont selecao " href="#">Contato</a>
                </p>
                <div class="d-flex justify-content-start">

                    <ul class="social-network mt-3">
                        <li>
                            <a href="https://www.linkedin.com/in/samuel-de-brito-santos/" target="_blank" class="iconFace">
                                <i class="fa fa-linkedin" aria-hidden="true"></i>
                            </a>
                        </li>

                        <li>
                            <a href="https://www.instagram.com/ovigariano/" target="_blank" class="iconInsta">
                                <i class="fa fa-instagram" aria-hidden="true"></i>
                            </a>
                        </li>

                        <li>
                            <a href="https://github.com/coder-samuel" target="_blank" class="iconLin">
                                <i class="fa fa-github" aria-hidden="true"></i>
                            </a>
                        </li>


                    </ul>



                </div>

            </div>
            <!--TituloRedesSociais-->

            <!--TituloRevistaDigital-->
            <div class="col-md-6">
                <h5 class="colorFont">Revista Digital</h5>
                <p class="mt-2 text">Fique por dentro de nossas atualizações</p>
                <div class="form-group">
                    <input class="form-control mt-2" type="text" name="email" id="email"
                        placeholder="Digite seu e-mail">
                    <div class="pt-3 button">
                        <button class="btn btn-sm btn-outline-warning" type="submit">Enviar <i
                                class="fa fa-paper-plane-o" aria-hidden="true"></i> </button>
                    </div>
                </div>
                <!--/TituloRevistaDigital-->
            </div>
        </div>
    </div>

    <!--Copyright-->
    <div class="footer-copyright bg-warning text-center py-3">
        <span class="text-light"> © 2021 Copyright | No Corre </span>

    </div>

</footer>