<app-menu></app-menu>

<div class="container-fluid">
  <div class="row pb-4">
    <div class="col-md-6 d-flex justify-content-center align-items-center flex-column">

      <h1 class="text-center font-weight-bold">
        SE TÁ ON,</h1>
      <p class="fs-25">TÁ <b id="repassa"> NO CORRE</b>!</p>
      <div class="row"> <button class="mt-5 btn btn-lg mr-3" routerLink='/inicio'>CONTRATAR SERVIÇO</button>
        <button class="mt-5 btn btn-lg" routerLink="/inicio" data-toggle="modal" data-target="#Cadastro">CADASTRAR SERVIÇO</button>

      </div>

    </div>
    <!--carrossel-->
    <div class="col-md-6 d-flex justify-content-start">
      <!--carrossel-->
      <img src="https://i.imgur.com/jJBspLE.png" title="source: imgur.com" width="350px" height="294px" />
    </div>
  </div>

  <div class="row pt-5 pb-5 d-flex justify-content-center">
    <div class="row">
      <div class="col-md-6">
        <img src="https://i.imgur.com/70FJFX5.png" alt="" width="363px" height="300px" />
      </div>
    </div>

    <div class="col-md-6 d-flex justify-content-center flex-column">
      <div class="row d-flex justify-content-center mb-5">
        <div class="col-md-10">
          <h2 class="mb-5 titulo">Conheça mais</h2>
          <p class="nocorre-font">
            Um sistema criado com a finalidade de mapear e difundir informações sobre a oferta e a busca de serviços nas regiões periféricas da Grande São Paulo. Ao dar visibilidade aos microempreendedores da periferia, busca-se colaborar com o desenvolvimento da economia colaborativa e local das regiões afastadas do centro expandido.
          </p>
          <div class="row d-flex justify-content-center">
            <button class="btn btn-lg" routerLink='/sobre'>SAIBA MAIS</button>
          </div>
        </div>
      </div>
    </div>

    <!--cards-->
    <div class="row d-flex justify-content-center mt-5">
      <div class="col-md-10">
        <h2 class="mb-5 titulo">Como funciona?</h2>
        <div class="card-deck">
          <div class="card">
            <img  style="margin-top: 30px;" src="https://i.imgur.com/g4TgdVG.png" alt="Imagem de capa do card">
            <div class="card-body">
              <h4 class="card-title text-center font-weight-bold" id="repassa">Precisando de clientes?</h4>
              <p class="card-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fugit odit eligendi doloremque quaerat esse nam animi alias tempora nemo eos! ?!</p>
              <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
            </div>
          </div>
          <div class="card">
            <img class="" style="margin-top: 80px;" src="https://i.imgur.com/WxlzghK.png" alt="Imagem de capa do card">
            <div class="card-body">
              <h4 class="card-title text-center font-weight-bold" id="repassa">Nunca foi tão fácil encontrar o serviço que você precisa</h4>
              <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque mollitia nostrum nisi aspernatur voluptatibus similique illo iusto facilis asperiores! In quia eos sint laborum dolore adipisci fuga totam veniam voluptatum.!</p>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
            </div>
          </div>
          <div class="card">
            <img style="margin-top: 10px;" src="https://i.imgur.com/4MZTGq4.png" alt="Imagem de capa do card">
            <div class="card-body">
              <h4 class="card-title text-center font-weight-bold" id="repassa">Divulgue seu trabalho e encontre novos clientes e oportunidades</h4>
              <p class="card-text"> Um sistema para cadastrar serviços e disponibilizá-los para o cadastro de pedidos dos clientes que estão em busca do que você tem para oferecer.</p>
              <p>Vamos expandir ainda mais essa rede de conexões</p>
            </div>
          </div>
        </div>
      </div>
    </div>
   

  </div>
</div>


<app-rodape></app-rodape>